{% extends "base.html" %}

{% block content %}
  <section class="main-wrapper">
    <h1>Flask Cards!</h1>
    {% for question in questions %}  
      <div class="question-wrapper">
        <p class="question">{{ question.question }}</p>
          <form method="post" class="answer-grid" action="/">
            {% for answer in question.answers %}
              <input type="submit" class="answer" value="{{ answer }}" name="action1"/>
            {% endfor %}
          </form>
      </div>
      <hr>
    {% endfor %}
    </section>
{% endblock %}